<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr-scanner">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Scan Now</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-folder">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Albums</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-settings">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>