<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon
        name="arrow-back"
        size="large"
        style="padding: 0.75rem;"
        (click)="navigateTo('tabs/messages')"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #messageContainer class="ion-padding">
  <div #messageContainer *ngFor="let list of messages">
    <div
      class="is-flex"
      [class]="(list.uid).uid === userId ? 'ion-text-end' : ''"
    >
      <p class="chat-title">{{ (list.uid).displayName }}</p>

      <div
        [class]="(list.uid).uid === userId ? 'chat-message-me' : 'chat-message'"
      >
        {{ list.content }}
        <div class="is-extra-small is-timestamp">
          {{ list.createdAt | date:'medium' }}
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="is-flex is-space-between is-align-center">
    <ion-textarea
      placeholder="Enter your message"
      [(ngModel)]="editorMsg"
      (keyup.enter)="sendMsg()"
      class="chat-input"
    >
    </ion-textarea>
    <ion-icon
      name="send"
      slot="icon-only"
      size="large"
      (click)="sendMsg()"
      style="margin-right: 8px;"
    ></ion-icon>
  </div>
</ion-footer>
