<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-avatar>
          <ion-img [src]="userImage"></ion-img>
        </ion-avatar>
      </ion-label>

      <ion-button fill="outline" (click)="openFileChooser()">
        Upload a new photo
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">DisplayName</ion-label>
      <ion-input
        [value]="userDisplayName"
        (ionChange)="updateInput($event, 'userDisplayName')"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input
        [value]="userPhoneNumber"
        (ionChange)="updateInput($event, 'userPhoneNumber')"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Occupation</ion-label>
      <ion-input
        [value]="userOccupation"
        (ionChange)="updateInput($event, 'userOccupation')"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Company/School</ion-label>
      <ion-input
        [value]="userCompanySchool"
        (ionChange)="updateInput($event, 'userCompanySchool')"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Displayed Email</ion-label>
      <ion-input
        [value]="userEmail"
        (ionChange)="updateInput($event, 'userEmail')"
      ></ion-input>
    </ion-item>
    <ion-item-divider color="secondary">
      <ion-label>
        Control Your Profile
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Searchable</ion-label>
      <ion-toggle
        (ionChange)="searchableToggle($event)"
        [(ngModel)]="userIsSearchable"
      ></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    fill="outline"
    class="ion-padding"
    size="large"
    (click)="onSave()"
    >Save</ion-button
  >
</ion-content>
