<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-virtual-scroll
    [items]="contacts"
    approxItemHeight="70px"
    [headerFn]="seperateLetter"
  >
    <ion-item *virtualItem="let contact" (click)="openMessage()">
      <ion-avatar slot="start" class="ion-margin-top">
        <ion-img [src]="contact.picture.medium"></ion-img>
      </ion-avatar>
      <ion-label>
        <div class="is-flex is-space-between ion-padding">
          <h2 class="ion-align-self-start">
            {{ contact.name?.first }} {{ contact.name?.last }}
          </h2>
          <p class="ion-align-self-end">XX/XX/XXXX</p>
        </div>
        <p class="ion-padding-start">last message</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="ion-margin"
    (click)="navigateTo('select-contact-to-message')"
  >
    <ion-fab-button>
      <ion-icon name="text"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
