<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let message of messages; let i = index">
      <div
        style="width: 100%;"
        *ngIf="message.chats.length != 0; else empty_conversation"
        (click)="openMessage(message.id)"
      >
        <div
          style="width: 100%;"
          *ngFor="let item of message.chats; let last = last; let index = index"
        >
          <ion-item *ngIf="last">
            <ion-avatar slot="start" class="ion-margin-top">
              <ion-img
                [src]="(message?.recipients | getRecipient : userId |
              async)?.photoUrl"
              ></ion-img>
            </ion-avatar>
            <ion-label>
              <div class="is-flex is-space-between is-baseline ion-padding sm">
                <h2 class="ion-align-self-start">
                  {{ (message?.recipients | getRecipient : userId |
                  async)?.displayName }}
                </h2>
                <span class="ion-align-self-start text-right">
                  <p class="date-format">
                    {{ message?.chats[index]?.createdAt | date: "mediumDate" }}
                  </p>
                  <p class="date-format">
                    <small>
                      {{ message?.chats[index]?.createdAt | date: "shortTime" }}
                    </small>
                  </p>
                </span>
              </div>
              <p class="ion-padding-start">
                {{ message?.chats[index]?.content }}
              </p>
            </ion-label>
          </ion-item>
        </div>
      </div>
      <ng-template #empty_conversation>
        <ion-item (click)="openMessage(message.id)">
          <ion-avatar slot="start" class="ion-margin-top">
            <ion-icon
              class="icon-color"
              name="mail-unread"
              size="large"
            ></ion-icon>
          </ion-avatar>
          <ion-label>
            <p>You have not start a conversation!</p>
          </ion-label>
        </ion-item>
      </ng-template>
    </div>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="ion-margin"
    (click)="navigateTo('select-contact-to-message')"
  >
    <ion-fab-button>
      <ion-icon name="text"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
