.padding.inner.bottom.md {
  --inner-padding-bottom: 6px;
}

.padding.inner.top.md {
  --inner-padding-top: 6px;
}

.padding.inner.end.md {
  --inner-padding-end: 12px;
}

ion-spinner * {
  width: 48px;
  height: 48px;
  stroke: #444;
  fill: #222;
}
