<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="isLoading; else showContent">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="height: 100%; flex-direction: column"
    >
      <ion-spinner name="crescent"></ion-spinner>
      Loading Content...
    </ion-row>
  </ion-grid>

  <ng-template #showContent>
    <ion-virtual-scroll
      [items]="fakeFiles"
      approxItemHeight="52px"
      class="ion-margin-bottom"
    >
      <div class="ion-margin-end" *virtualItem="let files">
        <ion-list-header class="ion-margin-top">
          <ion-label
            >{{ files.date == currentDate.toDateString() ? "Today" : files.date
            == yesterdayDate.toDateString() ? "Yesterday" : files.date
            }}</ion-label
          >
        </ion-list-header>

        <div *ngFor="let item of files.items">
          <ion-item-sliding>
            <ion-item
              detail
              class="padding inner top bottom end md"
              (click)="openItem(item)"
            >
              <ion-icon [name]="iconType(item.type)" slot="start"></ion-icon>
              <ion-label>
                {{ item.name }}
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option
                expandable="true"
                (click)="delete()"
                color="danger"
              >
                <ion-icon slot="top" size="large" name="trash"></ion-icon>
                <small>Delete</small>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </div>
    </ion-virtual-scroll>
  </ng-template>
</ion-content>
