<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigatePush('teleport')">
        <ion-icon slot="icon-only" name="pin"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleRightMenu()">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu
  side="end"
  type="overlay"
  menuId="sub"
  contentId="home-content"
  #sidemenu
>
  <ion-header>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-radio-group (ionChange)="radioGroupChange($event)">
        <ion-list-header>
          <ion-label>Event Occurances</ion-label>
        </ion-list-header>

        <ion-item (ionSelect)="radioSelect($event)">
          <ion-label>Upcoming All</ion-label>
          <ion-radio
            name="eventDateTimePreference"
            value="all"
            slot="start"
            checked
          ></ion-radio>
        </ion-item>

        <ion-item (ionSelect)="radioSelect($event)">
          <ion-label>Weekly</ion-label>
          <ion-radio
            name="eventDateTimePreference"
            value="weekly"
            slot="start"
          ></ion-radio>
        </ion-item>

        <ion-item (ionSelect)="radioSelect($event)">
          <ion-label>Today</ion-label>
          <ion-radio
            name="eventDateTimePreference"
            value="today"
            slot="start"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>Distance</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-range
          min="2"
          max="10"
          step="2"
          [(ngModel)]="distance"
          (ionChange)="onDistanceChange($event)"
        >
          <ion-icon size="small" slot="start" name="locate"></ion-icon>
          <ion-icon slot="end" name="locate"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="home-content">
  <ion-card>
    <img src="assets/img/nin-live.png" />
    <ion-card-content>
      <ion-card-title>
        Singing Club
      </ion-card-title>
      <ion-card-subtitle>
        Every Tuesday, 7pm - 9pm
      </ion-card-subtitle>
      <p class="ion-padding-top">
        The most popular industrial group ever, and largely responsible for
        bringing the music to a mass audience.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button fill="clear">
          <ion-icon slot="start" name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear">
          <ion-icon slot="start" name="paper"></ion-icon>
          <div>Find out more</div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <img src="assets/img/nin-live.png" />
    <ion-card-content>
      <ion-card-title>
        Singing Club
      </ion-card-title>
      <ion-card-subtitle>
        Every Tuesday, 7pm - 9pm
      </ion-card-subtitle>
      <p class="ion-padding-top">
        The most popular industrial group ever, and largely responsible for
        bringing the music to a mass audience.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button fill="clear">
          <ion-icon slot="start" name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear">
          <ion-icon slot="start" name="paper"></ion-icon>
          <div>Find out more</div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
