<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigateTo('teleport')">
        <ion-icon slot="icon-only" name="pin"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleRightMenu()">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu
  side="end"
  type="overlay"
  menuId="sub"
  contentId="home-content"
  #sidemenu
>
  <ion-header>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-radio-group (ionChange)="radioGroupChange($event)">
        <ion-list-header>
          <ion-label>Event Occurances</ion-label>
        </ion-list-header>

        <ion-item (ionSelect)="radioSelect($event)">
          <ion-label>Upcoming All</ion-label>
          <ion-radio
            name="eventDateTimePreference"
            value="all"
            slot="start"
            checked
          ></ion-radio>
        </ion-item>

        <ion-item (ionSelect)="radioSelect($event)">
          <ion-label>Weekly</ion-label>
          <ion-radio
            name="eventDateTimePreference"
            value="weekly"
            slot="start"
          ></ion-radio>
        </ion-item>

        <ion-item (ionSelect)="radioSelect($event)">
          <ion-label>Today</ion-label>
          <ion-radio
            name="eventDateTimePreference"
            value="today"
            slot="start"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>Distance</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-range
          min="2"
          max="5"
          step="2"
          [(ngModel)]="distance"
          (ionChange)="onDistanceChange($event)"
        >
          <ion-icon size="small" slot="start" name="locate"></ion-icon>
          <ion-icon slot="end" name="locate"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="home-content" style="margin-bottom: 32px;">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="navigateTo('create-new-event')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let event of events">
    <img [src]="event.eventimage === null ? defaultImage : event.eventimage" />
    <ion-card-content>
      <ion-card-title>
        {{event.eventname}}
      </ion-card-title>
      <ion-card-subtitle
        *ngIf="event.eventmode === 'weekly' && event.eventisonedayevent"
      >
        Every {{ event.eventstartdate | date: 'EEEE'}}, {{ event.eventtimestart
        }} till {{ event.eventtimeend }}
      </ion-card-subtitle>
      <ion-card-subtitle
        *ngIf="event.eventmode === 'weekly' && !event.eventisonedayevent"
      >
        Every {{ event.eventstartdate | date: 'EEEE'}} to {{ event.eventenddate
        | date: 'EEEE'}}, {{ event.eventtimestart }} till {{ event.eventtimeend
        }}
      </ion-card-subtitle>
      <ion-card-subtitle
        *ngIf="event.eventmode === 'single' && event.eventisonedayevent"
      >
        {{ event.eventstartdate | date: 'dd-MMM-yyyy, EEEE'}} From {{
        event.eventtimestart }} till {{ event.eventtimeend}}
      </ion-card-subtitle>
      <ion-card-subtitle
        *ngIf="event.eventmode === 'single' && !event.eventisonedayevent"
      >
        {{ event.eventstartdate | date: 'dd-MMM-yyyy'}} to {{ event.eventenddate
        | date: 'dd-MMM-yyyy'}} ({{ event.eventstartdate | date: 'EEE'}} - {{
        event.eventenddate | date: 'EEE'}})<br />
        From {{ event.eventtimestart }} till {{ event.eventtimeend}}
      </ion-card-subtitle>
      <div
        style="margin-top: 16px;"
        [innerHtml]="truncateString(event.eventinformation, 140)"
      ></div>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button
          fill="clear"
          expand="full"
          (click)="navigateTo('tabs/event-registration', event)"
        >
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          <div>Find out more</div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
