<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contact Card</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img *ngIf="contact?.photoUrl !== null" [src]="contact?.photoUrl" />
    <img *ngIf="contact?.photoUrl === null" src="assets/img/default.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Display Name</ion-card-subtitle>
      <ion-card-title>{{contact?.displayName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="is-center is-flex">
            <ion-icon
              name="person-add"
              size="large"
              (click)="addContact('app')"
            ></ion-icon>
          </ion-col>
          <ion-col class="is-center is-flex">
            <ion-icon
              name="download"
              size="large"
              (click)="addContact('native')"
            ></ion-icon>
          </ion-col>
          <ion-col class="is-center is-flex">
            <ion-icon
              name="chatbubbles"
              size="large"
              (click)="textContact()"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
